<html>
  <head>
    <title>La boîte à ragots</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
    header {
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;

    }
    body {background-color: #24445C ;}
    h1   {color: #FFE4C4;}
    header a {color: white;}
    div.gossip {
      height: 500px;
      overflow: scroll;
      padding: 20px;
      background-color: #e8e8e8;
      border: 1px solid black;
      border-radius: 5px;
    }
    p.gossip {
      border: 1px solid black;
      border-radius: 5px;
    }
    </style>
  </head>
  <body>
    <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-9">
            <h1>La boîte à ragots</h1>
        </div>
        <div class="col-md-3 header">
          <a href="./gossips/new/" role="button" class="btn btn-primary CTA">Une info croustillante à partager?</a>
        </div>
      </div>
    </div>
  </header>
  <section>
    <center>
    <div class="container gossip">
      <div class="raw items-align-center">
        <div class="col">
          <% gossips.each_with_index do |gossip, index| %>
              <p class="gossip">
                <a href="./gossips/<%= index %>/">
                <%= gossip.author %>
                  </a><br/>
                <%= gossip.content %>

              </p>
            <% end %>
        </div>
      </div>
    </div>
  </center>
  </section>

  </body>
</html>
